.company{
    padding: 120px 0;
    overflow: hidden;
}
.list{
    display: grid;
    grid-template-columns: 32% 25% 18%;
    grid-column-gap: 12.5%; 
}
.item h1{
    margin-bottom: 40px;
}
.item p,
.item:first-child{
    position: relative;
}
.item p:after{
    position: absolute;
    content: "";
    width: 100px;
    height: 10px;
    background: url(./../../img/Arrow2.svg) no-repeat center;
    right: -50%;
    top: 50%;
    transform: translate(-35%, -50%);
}
.item:first-child:after{
    position: absolute;
    content: "";
    width: 224px;
    height: 50px;
    background: url(./../../img/Arrow.svg) no-repeat center;
    right: -50%;
    top: 0;
    transform: translate(-40%, -90%);
}
.item:last-child p:after{
    display: none;
}