.item{
    margin-right: 40px;
}
.item:last-child{
    margin-right: 0;
}
.item a,
.item a:visited{
    font-size: 16px;
    line-height: 28px;
    color: #1D1D39;
    text-decoration: none;
    transition: color 0.3s;
}
.item a:hover{
    color: #039BE6;
}